body {
    overflow-x: hidden;
}

.admin-navbar {
    width: 100vw;
    height: 39.8vw;
    display: flex;
}

.admin-navbar-bg {
    width: 15vw;
    height: 50.445vw;
    background-color: #000;
    display: inline-block;
}

.admin-navbar-left {
    width: 15vw;
    height: 7vw;
    border-bottom: .1vw solid #939191;
}

    .admin-navbar-left img {
        width: 12vw;
        height: auto;
        margin-left: .8vw;
        margin-top: 1vw;
    }

.admin-navbar-right {
    width: 15vw;
    height: 30vw;
    margin-top: 2vw;
    border-top: .1vw solid #939191;
}

.admin-navbar-right-item {
    width: 15vw;
    height: 3vw;
    border-bottom: .1vw solid #939191;
}

    .admin-navbar-right-item > a {
        position: relative;
        top: 0.5vw;
        padding: .5vw 5vw .5vw .5vw;
        font-size: 1.2vw;
        text-decoration: none;
        color: #939191;
    }

    .admin-navbar-right-item:first-child > a {
        padding-right: 10vw;
    }

    .admin-navbar-right-item:last-child > a {
        padding-right: 7vw;
    }

    .admin-navbar-right-item > a:hover {
        color: #fff;
    }

    .admin-navbar-right-item:hover {
        background-color: #939191;
        cursor: pointer;
    }

        .admin-navbar-right-item:hover > a {
            color: #fff;
        }

.admin-main-bg {
    width: 85vw;
    height: 50.4vw;
    background-color: #fff;
}

.admin-title {
    display: flex;
    color: black;
    align-items: center;
    margin: .75vw;
}

    .admin-title h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 2.5vw;
        margin-left: 1vw;
    }

.admin-content {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    margin: 2.5vw;
    box-sizing: content-box;
}

.admin-content-item {
    width: 22vw;
    height: 11vw;
    background-color: #4a9241;
    color: #fff;
    font-size: 1vw;
    padding: .5vw 2vw;
}

    .admin-content-item span {
        font-size: 3vw;
    }

    .admin-content-item img {
        width: 7.5vw;
    }

    .admin-content-item .circle {
        position: absolute;
        top: 9vw;
        left: 30.5vw;
    }

    .admin-content-item .circle2 {
        position: absolute;
        top: 8vw;
        left: 57vw;
    }

    .admin-content-item .circle3 {
        position: absolute;
        top: 8.5vw;
        left: 88vw;
    }

/*Blog*/
.blog-title {
    width: 100%;
    height: auto;
    display: flex;
    padding: 5vw 10vw;
}

.blog-buton {
    justify-content: center;
    margin-top: 2vw;
}

.blog-buton-2 {
    justify-content: center;
    margin-top: 2vw;
}

.blog-buton > a {
    padding: 3vw 6.5vw;
    background-color: #2cad18;
    color: #fff;
    font-size: 2vw;
    margin: 0 5vw;
}

.blog-buton:hover {
    transform: scale(.9);
}

.blog-buton > a:hover {
    text-decoration: none;
}

.blog-buton-2 > a {
    padding: 3vw 5vw;
    background-color: #2cad18;
    color: #fff;
    font-size: 2vw;
    margin: 0 5vw;
}

.blog-buton-2 > a:hover {
    text-decoration: none;
}

.blog-buton-2:hover {
    transform: scale(.9);
}

/*BlogCreate*/
.text-area{
    height:19vw;
    resize:none;
}

/*BlogList*/
tr > th {
   width:20vw;
}

td > a{
    color:#939191;
}

td > a:hover{
    color:#3b3838;
    text-decoration:none;
    font-size:1.01vw;
}

.tr-hov:hover{
    background-color:#e4e3e3;
}

/*BlogDetail*/
dl{
    margin:2vw 2vw;
}

dl > dt{
    margin-top:2vw;
}