
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/main_layout.cshtml";
}

<div class="error-bg">
    <div class="error-title">
        HATA!
    </div>
    <hr />
    <div class="error-item">
        Üzgünüz, buraya erişmeye izniniz yok...
    </div>
</div>

